[mysqld]
# Replication Settings
server-id=2
read-only=1
log_bin=mysql-bin
relay-log=mysql-relay-bin
binlog_format=row
log_slave_updates=1
gtid_mode=ON
enforce_gtid_consistency=ON

# Other settings
bind-address=0.0.0.0
